@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: rgb(255, 249, 250);
  color: #000000;
  height: 100%;
}

.menu-about {
  height: 100%;
  width: 100%;
  background: rgba(255, 0, 76, 0.589);
  position: absolute;
  z-index: 7;
  display: none;
  color: white;
  font-weight: 700;
  font-size: 21px;
}

.flex{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-contact {
  height: 100%;
  width: 100%;
  background: rgba(255, 0, 76, 0.418);
  position: absolute;
  z-index: 8;
  display: none;
}
}

.h1{
  font-weight: 700;
  font-size: 21px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

#shop {
  display: flex;
  justify-content: center;
  align-content: center;
}

#header-sticky{
  position: sticky;
  top: 0;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: transparent;
}

.fa-bars{
  font-size: 15px;
  color: #E94694;
}

#header-menu{
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 10;
  background-color: #FFF2F2;
  border: 0.4px solid #E94694;
  padding: 10px;
}

ul{  
  list-style-type:none;
  font-size: 12px;
  line-height: 20px;
  color: #E94694;
}

li{
  padding: 10px;
}

#header-title{
  flex: 1;
  padding-left: 20px;
  position: sticky;
}

#header-search{
  position: sticky;
}

#shop {
  padding: 0px 20px;
  padding-bottom: 100px;
}

#cart {
  padding: 10px 0px;
}

#image-gallery{
  display: flex;
  flex-wrap: wrap;
}

#image-container{
  padding: 20px;
}

#image-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform:lowercase;
  font-weight: 300;
  font-size: 15px;
}

.button {
  background: #FFF2F2;
  border: 0.4px solid #E94694;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  color: #E94694;
}

.podbar {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom:0;
  position:fixed;
  z-index:150;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#cart-top {
  display: flex;
  align-items: center;
}

#cart-title {
  display: flex;
  flex: 1;
  width: 100%;
  padding-left: 40px;
}

#cart-total {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #E94694;
}

#total{
  color: #E94694;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding-right: 20px;
}

#cart-icon{
  font-size: 10px;
  padding-top: 5px;
}

#cart-button {
  margin-right: 40px;
}

#my-shopping-cart{
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
}

.cart-item{
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  text-transform:lowercase;
  font-weight: 300;
  font-size: 15px;
}

.h3 {
  font-weight: 700;
  font-size: 15px;
  color: #E94694;
}