@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: rgb(255, 249, 250);
  color: #0f0f0f;
  height: 100%;
}

.menu-about {
  height: 100%;
  width: 100%;
  background: linear-gradient(#FFF2F2, #fff2f2b6); 
  color: #0f0f0f;
  position: absolute;
  z-index: 7;
  display: none;
  font-size: 21px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px;
}

.menu-close{
  align-self: flex-end;
  padding: 10px 100px;
}

.menu-info{
  font-weight: 400;
  padding: 0px 100px;
}

.menu-contact {
  height: 100%;
  width: 100%;
  background: linear-gradient(#FFF2F2, #fff2f2b6); 
  color: #0f0f0f;
  position: absolute;
  z-index: 7;
  display: none;
  font-size: 21px;
}

.h1{
  font-weight: 700;
  font-size: 21px;
}

p{
  font-weight: 300;
  font-size: 12px;
}

.p-cart{
  font-weight: 400;
  font-size: 10px;
}

.p-price{
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

#shop {
  display: flex;
  justify-content: center;
  align-content: center;
}

#header-sticky{
  position: sticky;
  top: 0;
  width: 100%;
}

#header{
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  background-color: transparent;
}

.fa-bars{
  font-size: 15px;
  color: #E94694;
}

#header-menu{
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 10;
  background-color: #FFF2F2;
  border: 1px solid #e0e0ffe3;
  padding: 10px;
}

ul{  
  list-style-type:none;
  font-size: 12px;
  line-height: 20px;
  color: #E94694;
}

li{
  padding: 10px;
}

.fa-behance{
  padding: 0px 8px;
}

#header-title{
  flex: 1;
  padding-left: 20px;
  position: sticky;
}

#header-search{
  position: sticky;
  display: flex;
  width: 30%;
  height: 50px;
}

.search-form{
  display: flex;
  width: 100%;
}

#shop {
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
}

#nextpage{
  display: flex;
  justify-content: center;
}

#cart {
  padding: 10px 0px;
}

#image-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-card{
  padding: 20px;
}

.image-container{
  width: 250px;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover{
  overflow: hidden;
}

.image-img:hover {
  width: 250px;
  min-height: auto;
  transform: scale(0.7);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button-container:hover .button {
  opacity: 1;
}


.img-small{
  max-width: 30px;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.image-img {
  height: auto;
  transition: transform 1s ease;
}

.image-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform:lowercase;
  font-weight: 300;
  font-size: 15px;
}

.button-container {
  width: 100px;
  height: 20px;
  position: absolute;
  z-index: 1;
}

.button-container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: #FFF2F2;
  border: 0.4px solid #E94694;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  color: #E94694;
  opacity: 0;
  transition: opacity .35s ease;
}

#cart-button{
  background: #FFF2F2;
  border: 0.4px solid #E94694;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  color: #E94694;
  transition: opacity .35s ease;
}

#search-button{
  background: #FFF2F2;
  border: none;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  color: #E94694;
  height: 28px;
}

.podbar {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e0e0ffe3, #fff2f2ef);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e0e0ffe3, #fff2f2ef);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom:0;
  position:fixed;
  z-index:150;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#cart-top {
  display: flex;
  align-items: center;
}

#cart-title {
  display: flex;
  flex: 1;
  width: 100%;
  padding-left: 40px;
}

#cart-total {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #E94694;
}

#total{
  color: #E94694;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding-right: 20px;
}

#cart-icon{
  font-size: 10px;
  padding-top: 5px;
}

#cart-button {
  margin-right: 40px;
}

#my-shopping-cart{
  padding-left: 40px;
  display: flex;
  flex-wrap: wrap;
}

.cart-item{
  padding: 5px;
  display: flex;
  text-transform:lowercase;
  font-weight: 300;
  font-size: 15px;
  width: 150px;
  height: 50px;
  border: 1px solid #e0e0ffe3;
  background-color: #FFF2F2;
  margin-left: 2px;
}
.cart-info {
  padding-left: 5px;
  width: 100%;
}

.cart-info-download{
  padding-left: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-icon{
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
}

.h3 {
  font-weight: 700;
  font-size: 15px;
  color: #E94694;
}
.selected {
  color: blue;
}

.form-control{
  width: 100%;
  padding: 5px 5px;
  border: none;
}

.form-group{
  width: 100%;
  border: none;
}

.error{
  font-size: 10px;
  line-height: 8px;
  color: #E94694;  
}